.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.section {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
}